<!-- src/app/product-list/product-list.component.html -->
<div class="container">
    <h1>Lista de Produtos</h1>
    <label for="filter">Filtrar por Tipo:</label>
    <mat-select matInput id="filter" [(ngModel)]="filterType" >
      <mat-option [value]="''">Todos</mat-option>
      <mat-option [value]="'Type A'">Type A</mat-option>
      <mat-option [value]="'Type B'">Type B</mat-option>
      <mat-option [value]="'Type C'">Type C</mat-option>
    </mat-select>
    
    <div class="loading" *ngIf="isLoading;" >
      <mat-spinner diameter="100" color="accent"></mat-spinner>
    </div>

    <div class="product-list">
      <div class="product-item" *ngFor="let product of filteredProducts" (click)="viewProduct(product)">
        <img src={{product.image}} alt="{{ product.nome }}" class="product-image">
        <div class="product-info">
          <h2>{{ product.nome }}</h2>
          <p>Preço: {{ product.preco | currency:'BRL':true }}</p>
          <p>Versão: {{ product.versao }}</p>
        </div>
      </div>
    </div>
  </div>
  