.EM.FILA {
    background-color: rgb(174, 174, 3);
    
    
}

.CONCLUIDO{
    background-color: rgb(51, 174, 3);
}


.status{
    font-size: xx-small;
    text-transform: capitalize;
    text-align: center;
    border-radius: 15px;
    width: 80px;
}

.flexSmall, .flexXSmall{
    flex-direction: column;
}

 .fila.flexSmall{
    width: 100% !important;
}

.fila{
    width: 30%;
}